<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition" />
    <section name="FivePointMushScale" type="System.Configuration.NameValueSectionHandler" />
    <section name="FivePointBS1116Scale" type="System.Configuration.NameValueSectionHandler" />
    <section name="SevenPointBS562Scale" type="System.Configuration.NameValueSectionHandler" />
    <section name="DifferenceModeScale" type="System.Configuration.NameValueSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <modules>
    <module assemblyFile="SLEP.UIModule.dll" moduleType="SLEP.UIModule.UIModule, SLEP.UIModule.UIModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UIModule" startupLoaded="true" />
  </modules>

  <FivePointMushScale>
    <add key="NoShow" value="0" />
    <add key="Bad" value="20" />
    <add key="Poor" value="40" />
    <add key="Fair" value="60" />
    <add key="Good" value="80" />
    <add key="Excellent" value="100" />
  </FivePointMushScale>

  <FivePointBS1116Scale>
    <add key="Very Annoying" value="1.0" />
    <add key="Annoying" value="2.0" />
    <add key="Slightly Annoying" value="3.0" />
    <add key="Perceptible But Annoying" value="4.0" />
    <add key="Imperceptible" value="5.0" />
  </FivePointBS1116Scale>

  <SevenPointBS562Scale>
    <add key="Much Worse" value="-3" />
    <add key="Worse" value="-2" />
    <add key="Slighlty Worse" value="-1" />
    <add key="The Same" value="0" />
    <add key="Slightly Better" value="1" />
    <add key="Better" value="2" />
    <add key="Much Better" value="3" />
  </SevenPointBS562Scale>

  <DifferenceModeScale>
    <add key="1" value="-15db" />
    <add key="2" value="-12db" />
    <add key="3" value="-9db" />
    <add key="4" value="-6db" />
    <add key="5" value="-3db" />
    <add key="6" value="0db" />
    <add key="7" value="3db" />
    <add key="8" value="6db" />
    <add key="9" value="9db" />
    <add key="10" value="12db" />
    <add key="11" value="15db" />
  </DifferenceModeScale>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SLEP.Appender" />
    </root>
    <appender name="SLEP.Appender" type="log4net.Appender.RollingFileAppender">
      <file value="application.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
